@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", serif;
  outline: 0;
}

/* shared style */
section {
  margin-bottom: 130px;
}
.secoundary-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  font-size: 20px;
  font-weight: 700;
  padding: 18px 36px;
  color: #fff;
  background-color: #fd6e0a;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn-primary:hover {
  background-color: #ffd2d2;
  border: 1px solid #fd6e0a;
  color: black;
}
.text-center {
  text-align: center;
}
.section-title {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
}
.section-description {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

/* header style */
header {
  background-color: #fff8f3;
  margin-bottom: 130px;
}
.header {
  background-image: url(assets/developer.png), url(assets/header_bg.png);
  background-repeat: no-repeat;
  background-position: top 35px left, bottom right;
}
/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
}

.nav_title {
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-left: 50px;
}
nav ul li a {
  font-size: 20px;
  color: #474747;
  transition: 0.3s;
}
nav ul li a:hover {
  font-weight: 700;
  color: black;
}
/* nav section ends */

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.Download {
  margin-right: 30px;
}
.banner-profile-pic {
  width: 584px;
}

/* main tyles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.section-title {
  margin-bottom: 30px;
}
.about-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.about-title {
  font-size: 20px;
  color: #757575;
}
.about-describtion {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
  line-height: 30px;
}
/* about section ends */

/* skil sexction starts */
.skills h4 {
  margin-bottom: 30px;
}
.skills p {
  margin-bottom: 50px;
}
.skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.skil {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.skil:hover {
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
}
.skil img {
  margin-bottom: 30px;
}
.img_redious {
  border-radius: 1000px;
}
.js-3 {
  width: 45px;
  height: 45px;
}
/* animation style */
.skil img {
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.skil img::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skill-title {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 20px;
}
.skill-description {
  line-height: 28px;
  color: #757575;
}
/* skil sexction ends */

/* resume section starts */
.resume h2 {
  margin-bottom: 113px;
}
.resume-container {
  display: flex;
  gap: 24px;
}
.resume-collumn-title {
  font-size: 30px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 30px;
}

.exparience-title {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 10px;
}

.exparience-sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.exparience-description {
  line-height: 28px;
  color: #757575;
  margin-bottom: 30px;
}
.resume-collumn hr {
  color: #d1d1d1;
  margin-bottom: 30px;
}
/* resume section ends */
